name: Deploy via SFTP

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Upload via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          username: ${{ secrets.STAGING_USER }}
          server: ${{ secrets.STAGING_HOST }}
          port: 22
          password: ${{ secrets.STAGING_PASSWORD }}
          local_path: ./                      # Folder from GitHub repo
          remote_path: /home3/digituqa/reportconsumer.digitalnoticeboard.biz     # Folder on server
          sftp_only: false                     # Ensure SFTP is used
          delete_remote_files: false          # Keep existing files
